@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Primary*/
  --marineBlue: 213deg 96% 18%;
  --purplishBlue: 243deg 100% 62%;
  --pastelBlue: 228deg 100% 84%;
  --lightBlue: 206deg 94% 87%;
  --strawberryRed: 354deg 84% 57%;

  /*Neutral*/
  --coolGray: 231deg 11% 63%;
  --lightGray: 229deg 24% 87%;
  --magnolia: 217deg 100% 97%;
  --alabaster: 231deg 100% 99%;
  --white: 0deg 0% 100%;
}

html,
#root {
  @apply min-h-[100vh] w-[100vw];
}

.sideBarImage {
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
}
